{% extends 'website/base.html' %}
{% load static %}
{% block body_block %}
<link rel='stylesheet'href={% static 'css/style.css'%}>

<div class='body'>
<h1 class='title'>Login </h1>
<div id='topmenu'>
    <img src='http://127.0.0.1:8000/static/images/logo3.jpg'alt='logo not found'/>
        
    <h6>
        Do not have an account?
        <a class='link' href='{% url 'accounts_app:register'%}'>Create Account Here</a><br>
    </h6>
</div>
<div class='main_container'>
    <div class='left'id='left'>
   <h3>
        Quick Links
    </h3>
    <h6 class='link'>
        <a class='link'href='{% url 'website_app:feedback'%}'>Feedback:</a>-<br>
        <a class='link'href='{% url 'website_app:services'%}'>Services:-</a><br>
        <a class='link'href='{% url 'website_app:contactus'%}'>Contact Us:-</a><br>
        <a class='link'href='{% url 'website_app:about'%}'>About Us:-</a><br>
        <a class='link'href='{% url 'website_app:index'%}'>Home:-</a><br>
    </h6>
</div>
<div class='center' id='body' >

    <form  action={% url 'accounts_app:user_login'%} method='POST'enctype='multipart/form-data' method='post'>
        {% csrf_token %}
        <h1 class='title'>Sign In
        </h1>
        {%if fail%}
           <p class='link'>please enter correct username or password</p>
           {%endif%}
        <p>Username:</p>
        <input type='username' name='username' placeholder='Case Sensitive'>
        <p>Password:</p>
        <input type='password' name='password' value='' placeholder='Case Sensitive'><br><br>
        <input type='submit' class='button2'name='' value='Login'>
        {%if fail%}
           <p>forgot password?</p>
           {%endif%}
        
        
    </form>
</div>
<div class='right'id='right'>
    <h3>
        Services
    </h3>
    <h6 class='link'>
        Picta D.A<br>
        Picta S.A<br>
        Picta I.P<br>
        Picta F.P<br>
        Picta P.AS<br>
    </h6>
</div>
</div>
</div>
{% endblock %}
