{% extends 'website/base.html' %}
{% load static %}
{% block body_block %}
<link rel='stylesheet'href={% static 'css/style.css'%}><br>
<div class='body'>
<h1><p  class=title>Home</p></h1>
<div id='topmenu'>
    <img class='logo' src='http://127.0.0.1:8000/static/images/logot.jpg'alt='logo not found'/>
        
    <h6>
        <p>Picta - Delivering Productivity Services</p>
    </h6>
</div>
   
        <h1><p class='title'>Picta Official Website Updates
        </p></h1>
    
    <a href='{% url 'sa_app:sa'%}'>
    <div class=block ></div>
    <div class='introd'>Posted 11/04/24<br>Posted by Maxwell<img class=img1 src='http://127.0.0.1:8000/static/images/sa2poster.jpeg.png'alt='logo not found'/></div></a>
         <a href='{% url 'pa_app:dashboard'%}'>
    <div class=block ></div>
    <div class='introd'>Posted 10/04/24<br>Posted by Maxwell<img class=img1 src='http://127.0.0.1:8000/static/images/pa2poster.png'alt='logo not found'/></div></a>
      <div class=block ></div>
</div>
{% endblock %}

