<html>
{% load static %}

<head>
<title>
{% block title_html %}{% endblock %}

</title>
<link rel='stylesheet'href={% static 'nav.css'%}>
<link rel='stylesheet'href={% static 'bs/css/bootstrap.css'%}>
</head>
<body>
  <nav class ='Container'>
      <div class='container'align='center'>

        <div>
          <img class='imag' src={% static 'images/f.jpg'%} alt='img3'/>
        </div>

        <ul class='nav navbar-header'>
          <a class='navbar'href='{% url 'questionbank_app:index'%}'>MENU</a>
          <a class='navbar'href='{% url 'questionbank_app:create' %}'>CREATE </a>
          <a class='navbar'href='{% url 'questionbank_app:list' %}'>LIST </a>
          <a class='navbar'href='{% url 'index'%}'>MAIN</a>
          {% if user.is_authenticated %}<img class='img' src={{user.profile_pic}} alt='404'/>
            <a class='navbar-'href='{% url 'accounts_app:user_logout'%}'>Hello:{{user.username}} Logout</a>
          {% else %}<img src={% static 'images/img1.jpg'%}alt='login'/>
            <a class='navbar-'href='{% url 'accounts_app:user_login'%}'>Login</a>
          {% endif %}

        </ul>
      </div>
    </nav>
    <div>
      <img class='image' src={% static 'images/f.jpg'%} alt='img3'/>
    </div>
    <h3><b class='create'>Intelligent Digital Assessment Tool</b></h3>

<div class='bo'>
<P class='p1'>Allows you to create a list <br> of questions and save them to the queation bank</P>

<P class='p1'>Try to click <b class='create'>Create on navbar</b></P>

<P class='p2'>Click<b class='create'> LIST on navbar</b> <br>to view list of questions you have created</P>
</div>
<div>
  <img class='image' src={% static 'images/f.jpg'%} alt='img3'/>
</div>
<h1>
{% block body_block %}{% endblock %}
</h1>
<article>
{% block article_content %}{% endblock %}

</article>
</body>
</html>
