{% extends 'pa/base.html' %}
{% load static %}

<script>
    
function m1(){
  $.ajax({
      url: "{% url 'pa_app:myworkday' %}",
      type: "POST",
      data: {
          action: 'menubuttonclick', 
          csrfmiddlewaretoken: "{{ csrf_token }}"
      },
      success: function(response) {
          // Display the data in an alert
          console.log(response);
      }
  });
}m1();
    var data = {
          action: 'menubuttonclick', 
          csrfmiddlewaretoken: "{{ csrf_token }}",
      };
    function menubuttonclick1(){
    console.log('menu button was clicked');
    menu='hello';
    
    var ajax = new XMLHttpRequest();
    ajax.open("POST", 'http://127.0.0.1:8000/pa/myworkday', false);
    ajax.send(data);
    console.log(ajax.responseText);
}
</script>


{% block body_block %}


<div class='body'>
<div class='menu'><img align='left' id='logo' src='http://127.0.0.1:8000/static/images/logopa.jpg'><p class='myworkday'>My Workday</p></div>
<div class='subbody'>
    <div class='leftmenu'>
        <div class='topbuffer'>
        </div>
        <div class='leftmenutext'>
            <h2 class='t'>
                 <button class='menubutton' onclick="menubuttonclick()">Menu</button>
            </h2>
<h5 class='t'> <button class='addtaskbutton' onclick="addtaskbuttonclick()">Add Task</button> </h5>
<h5 class='t'> <button class='alltasksbutton' onclick="alltasksbuttonclick()">Digitalize Task</button></h5>
<h5 class='t'> <button class='dailytasksbutton' onclick="dailytasksbuttonclick()">Automate Task</button></h5>
<h5 class='t'><button class='weeklytasksbutton' onclick="weeklytasksbuttonclick()">Outsource Task</button></h5>
<h5 class='t'> <button class='monthlytasksbutton' onclick="monthlytasksbuttonclick()">Source Task</button></h5>

        </div>
        <div class='topbuffer'>
        </div>
        
    </div>
    <div class='subbodybody'>
        <div class='center'id='body'><h1>
    <p class='i' >
        Confirm Automating Task</p></h1>
<div class='bodytext'><p><h2><b>Are You Sure You Want To Automate:</b></h2></p>
    
            <p><b>Task Name : {{task.name}}</b></p>
     <p><b>Task Description : {{task.description}}</b></p>
     <p><b>Task Frequency : {{task.frequency}}</b></p>
     <p><b>Task Time : {{task.time}} minutes (average)</b></p>
     <p><b>Task Cost : ${{task.cost}} (average)</b></p>
     <p><b>Task Nature : {{task.nature}}</b></p>
            <form><input type='hidden'name='taskid'id='taskid'value={{task.taskid}}></form><button class='addtaskbutton'onclick='confirmautomate(taskid.value)'>Automate</button><button class='addtaskbutton'onclick='cancelautomate()'>Cancel</button>
    </div>


    </div>
    </div>
</div>

</div>
{% endblock %}