{% extends 'pa/base.html' %}
{% load static %}
{% block body_block %}
<link rel='stylesheet'href={% static 'css/pa.css'%}><br>

<div class='body'>
    <div class='menu'><img align='left' id='logo' src='http://127.0.0.1:8000/static/images/logopa.jpg'><h class='title'><p class='dash'>Dashboard</p></h></div>
    <div class ='subbody'>
    <div class='buffer'></div><a href='{%url 'pa_app:myworkday'%}'>
    <div class='workday'>
        <p class='workdaytitle'> My Workday</p><hr color='eaeb9a'>
        <p class='link'>No Tasks Available</p>
    </div></a>
        <div class='buffer'></div>
    <div class='optimize'>
        <p class='workdaytitle'>Optimize</p><hr color='#888a23'>
        <p class='opttext'>Service Starting on official launch date (10 December 2024)</p>
    </div>
        <div class='buffer'></div>
    <div>
    <div class='notifications'>
        <p class=workdaytitle>Notifications</p><hr color='eaeb9a'>
        <p>Service Starting on official launch date (10 December 2024) </p>
    </div><br>
    <div class='profile'>
        <p class='workdaytitle'>My Profile</p><hr color='eaeb9a'>
        <p>Service Starting on official launch date (10 December 2024)</p>
    </div>
        </div>
        <div class='buffer'></div>
        </div>
    <div class='bottom'></div>
</div>




{% endblock %}
