{% extends 'pa/base.html' %}
{% load static %}

<script>
    
function m1(){
  $.ajax({
      url: "{% url 'pa_app:myworkday' %}",
      type: "POST",
      data: {
          action: 'menubuttonclick', 
          csrfmiddlewaretoken: "{{ csrf_token }}"
      },
      success: function(response) {
          // Display the data in an alert
          console.log(response);
      }
  });
}m1();
    var data = {
          action: 'menubuttonclick', 
          csrfmiddlewaretoken: "{{ csrf_token }}",
      };
    function menubuttonclick1(){
    console.log('menu button was clicked');
    menu='hello';
    
    var ajax = new XMLHttpRequest();
    ajax.open("POST", 'http://127.0.0.1:8000/pa/myworkday', false);
    ajax.send(data);
    console.log(ajax.responseText);
}
</script>


{% block body_block %}


<div class='body'>
<div class='menu'><img align='left' id='logo' src='http://127.0.0.1:8000/static/images/logopa.jpg'><p class='myworkday'>My Workday</p></div>
<div class='subbody'>
    <div class='leftmenu'>
        <div class='topbuffer'>
        </div>
        <div class='leftmenutext'>
            <h2 class='t'>
                 <button class='menubutton' onclick="menubuttonclick()">Menu</button>
            </h2>
<h5 class='t'> <button class='addtaskbutton' onclick="addtaskbuttonclick()">Add Task</button> </h5>
<h5 class='t'> <button class='alltasksbutton' onclick="alltasksbuttonclick()">Digitalize Task</button></h5>
<h5 class='t'><button class='dailytasksbutton' onclick="dailytasksbuttonclick()">Automate Task</button></h5>
<h5 class='t'><button class='weeklytasksbutton' onclick="weeklytasksbuttonclick()">Outsource Task</button></h5>
<h5 class='t'> <button class='monthlytasksbutton' onclick="monthlytasksbuttonclick()">Source Task</button></h5>

        </div>
        <div class='topbuffer'>
        </div>
        
    </div>
    <div class='subbodybody'>
        <div class='center'id='body'><h1>
    <p class='i' >
        Source Task</p></h1>
        <div class='bodytext'>
            
            {%if tasks%}
        </div>
  
        <button onclick='st()'>Test</button>
             <p><h1>You are not elligible to outsource any tasks please register here</h1></p>
      
      {%else%}
<p>No Tasks Available At The Moment.</p>
    </div>
    </div>
</div>

</div>{%endif%}
{% endblock %}