{% extends 'sa/base.html' %}
{% load static %}
{% block body_block %}
<link rel='stylesheet'href={% static 'css/sa.css'%}><br>
<div class='body'>
<h1><img class='logo'src='http://127.0.0.1:8000/static/images/sa.png'></h1>

    <div class=block ></div>
        <div class=sa>
            <div class=samenu>
                About
            </div>
            <div class=br>
            <div class=by ></div>
            <div class=bt>
               <h3> <p>Picta Seo A.I is a service that optimizes search ingine ranking of dynamic and static websites.Firstly Search Engine Optimization is carried up by webscrapping for data regarding clients key words. Using the data metas are built and injected into html so that web crawlers can find them. Key works are also injectect into HTML as well as external links to websites with similar content.Lastly submission of website to name servers that are most relevent is done. </p></h3>
            </div>
            <div class=by ></div></div>
            <div class=samenu>
                <p >How it works</p>
            </div>
            <div class=br>
            <div class=by ></div>
            <div class=bt>
                <h3><p>To get your website optimized for search engine ranking by Picta S.A you upload all your .html files.Once you upload your files a ticket will be opened with<a class='link' href='{% url 'da_app:da'%}'> Picta D.A</a> our support service. From there you can follow up on your Ticket while your website is being optimized.</p></h3>
            </div>
            <div class=by ></div></div>
            <div class=samenu>
                <p >Upload .html files</p>
            </div>
            
            <div class=by ></div>
           <form  action={% url 'sa_app:sa'%} method='POST'enctype='multipart/form-data' method='post'>
                 <div class=bt> 
        {% csrf_token %}
        
                <h4><p>Step 1-Enter Number Of .html files:</p></h4>
                <input type="number"name='number'placeholder='numbers only'>
                      <input type='hidden' name='number1' value={{number1}}>
                     <br><br><input class='sabtn'type=submit name=''value='Submit'
                       </div></form>
            <div class=by ></div></div>
              <div class=br>
            <div class=by ></div>
            <div class=bt>
               
                 
   
                <h3><p><b>Step 3-Confirm File Upload</b></p></h3>
                <h3><p>Hello:{{user.username}}</p></h3>
                     <h3><p>Account Balance: ${{balance.amount}}</p></h3>
                     <h3><p>Transaction Cost: $20</p></h3>
                {%if discount%}
                <h3><p>Discount Token Activated: $2</p></h3>
                <h3><p>Discounted Cost: $18</p></h3>
                {%else%}
                <h3><p>Discount Token Activated: N/A</p></h3>
                {%endif%}
                       <h1><p>Are you sure you want Seo ?</p></h1>
                     <h3><p>Website Name:{{website.name}}</p></h3>
                     <h3><p>Number of webpage: {{number1}}</p></h3>
                      {%if good%}
                                 <form  action={% url 'sa_app:sa'%} method='POST'enctype='multipart/form-data' method='post'>
     {% csrf_token %}
                                    {%if discount%}
                                     <input type=hidden name='discount'value={{discount.code}}>
                                     {%endif%}
                       <input type='hidden' name='website' value={{website.name}}>
                                            <input type='hidden' name='Confirm' value={{website.name}}>

                      <br><br><input class='sabtn'type=submit name=''value='Confirm'>
                   
                     </form>
                      <form  action={% url 'sa_app:sa'%} method='POST'enctype='multipart/form-data' method='post'>
                 
        {% csrf_token %}
                 <br><br><input class='sabtn'type=submit name=''value='Cancel'>
                     </form>
                {%else%}
             <a href='{% url 'fp_app:fp'%}'class=p1><button class='sabtn' name='cancel'value='cancel'>Fund Acc</button></a>
                 <a href='{% url 'sa_app:sa'%}'class=p1><button class='sabtn' name='cancel'value='cancel'>Cancel</button></a>
                {%endif%}
                
            </div>
            <div class=by ></div></div>
            
        </div>
      <div class=block ></div>
</div>
{% endblock %}

